@import url("weatherbackground.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Used to hide content on page*/
.hidden {
    display: none !important; 
}

/* For banners indicating sucess/errors*/
.success {
    background-color: #c0fdc0;
    border: solid #7cc27c 0.1em;
}

.error {
    background-color: #FE8484;
    border: solid #d34545 0.1em;
}

/* Visually Disable Buttons */
.disabled {
    cursor: default !important;
    background-color: rgb(146, 146, 146) !important;
}


/* Global Layout*/
body {
    display: grid;
    grid-template-areas:
        "header"
        "selector"
        "content";
    grid-template-rows: max-content max-content auto;
    width: 100%;
    font-family: "Segoe UI", "Century Gothic", "Trebuchet MS";
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

em {
    font-style: italic;
}

.input-radio {
    margin-left: 1em;
    margin-right: 0.5em;
    height: 1.25em;
    width: 1.25em;
}



/* Header Area */
#timeplace {
    grid-area: header;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    font-size: medium;
}


/* Hold the main content of the page*/
#contentcontainer {
    grid-area: content;
    background: linear-gradient(
                    to bottom right, 
                    rgba(221,236,255,0.3),
                    rgba(221,236,255,1)
                );
    padding: 0.25em;
    margin: 1em;
    min-height: 80vh;
    border: solid rgb(77, 78, 119) 0.15em;
    border-radius: 0.5em;
}



/* Selector Button Area */
#selectors {
    grid-area: selector;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0em auto;
}

/* Selector Buttons */
.selectorbuttons {
    padding: 0.5em;
    margin: 0.25em 0.5em;
    text-align: center;
    border: solid rgb(23, 23, 49) 0.1em;
    border-radius: 0.5em;
    background-color: rgb(241, 241, 241);
    width: 9em;
    font-size: 0.7em;
}

.selectorbuttons:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

/* Used to indicate which button has been selected*/
.selected {
    background-color: rgb(209, 209, 209);
    font-weight: bold;
}



/* Hourly & Weekly Weather Page */
#hourlycontent, #weeklycontent {
    display: grid;
    margin: 0.25em;
    padding: 0.25em;
}

#hourlymainwidget, #weeklymainwidget {
    grid-area: 1/1/2/2;
}

#hourlyminorwidgets, #weeklyminorwidgets {
    grid-area: 2/1/3/2;
    overflow-y: visible;
}

.smallwidget, .bigwidget {
    border: solid 0.1em;
    min-height: 50px;
    height: fit-content;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
    margin: 0.75em;
}

.bigwidget {
    margin-bottom: 0em;
}

#hourlycontent .smallwidget, #hourlycontent .bigwidget {
    grid-template-areas: 
        "datetemp summary";
}


#weeklycontent .smallwidget, #weeklycontent .bigwidget {
    grid-template-areas: 
        "datetemp summary"
        "datetemp precip";
}

.noprecip {
    grid-template-areas: 
        "datetemp summary" !important;
}

.datetemp {
    grid-area: datetemp;
    display: grid;
    grid-template-areas: 
        "date temp";
}

.date {
    display: inline-block;
    grid-area: date;
    font-weight: bold;
    font-size: 1.375em;
    margin: auto;
}

.temp {
    display: inline-block;
    grid-area: temp;
    font-size: 1.75em;
    margin: auto 0em;
    text-align: right;
    padding: 0.25em;
    border: solid black 0em;
    border-right-width: 0.05em;
}

.weathersummary {
    grid-area: summary;
    margin: auto 0.25em;
    font-size: 0.85em;
}

.precipitation {
    grid-area: precip;
    margin: 0.25em;
    font-size: 0.85em;
    border: solid black 0em;
    border-top-width: 0.05em;
}




/* Settings Page */
#settingscontent {
    margin: 0.25em;
    padding: 0.25em;
    line-height: 2em;
    font-size: 0.9em;
}

#settingscontent input[type="text"] {
    border: solid rgb(77, 78, 119) 0.1em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
}

#updateindicator {
    border-radius: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

#updatebutton {
    width: 7em;
    border: solid rgb(77, 78, 119) 0.1em;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
    background-color: #90ee90;
}

#updatebutton:hover {
    cursor: pointer;
    background-color: #72d872;
}

#reference {
    margin-top: 1em;
}

#settingscontent li::before {
    content: '➣ ';
}



/* 
    Make main widget more prominent if we have enought width
*/
@media (min-width: 1225px) {
    body {
        height: 100vh;
    }

    .selectorbuttons {
        width: 10em;
        font-size: 1em;
    }

    #hourlycontent, #weeklycontent {
        grid-template-rows: none;
        grid-template-columns: 20em auto;
        height: 95%;
    }

    #hourlymainwidget, #weeklymainwidget {
        grid-area: 1/1/2/2;
    }

    #hourlyminorwidgets, #weeklyminorwidgets {
        overflow-y: auto;
    }

    .bigwidget {
        height: 96.5%;
        grid-template-rows: auto max-content max-content max-content max-content;
        grid-template-columns: auto 0em;
    }

    .bigwidget .datetemp {
        grid-area: 2/1/3/2;
        display: grid;
        grid-template-areas: none;
    }

    .bigwidget .temp {
        grid-area: 1/1/2/2;
        font-size: 2em;
        text-align: right;
        margin: 0.5em 0;
        border: none;
    }

    .bigwidget .date {
        grid-area: 2/1/3/2;
        font-size: 1.5em;
        margin: 0.5em 0;
        font-weight: bold;
    }

    .bigwidget .weathersummary {
        grid-area: 3/1/4/2;
        font-size: 1.5em;
        margin: 0.5em 0;
    }

    .bigwidget .precipitation {
        grid-area: 4/1/5/2;
        font-size: 1.5em;
        margin: 0.5em 0;
        border: none;
    }

    #hourlyminorwidgets, #weeklyminorwidgets {
        grid-area: 1/2/2/3;
    }
}

@media (min-width: 700px) and (max-width: 1225px) {
    .selectorbuttons {
        width: 9em;
        font-size: 0.8em;
    }
}


/* 
    Dynamic Font size
*/
@media (min-width: 700px) {
    .smallwidget, .bigwidget {
        min-height: 72px;
    }
    #timeplace {
        font-size: x-large;
    }

    .date {
        font-size: 2em;
    }

    .temp {
        font-size: 3em;
    }

    .precipitation, .weathersummary {
        font-size: 1.25em;
    }

    #settingscontent {
        font-size: 1.5em;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    .smallwidget, .bigwidget {
        min-height: 60px;
    }

    #timeplace {
        font-size: large;
    }

    .date {
        font-size: 1.5em;
    }

    .temp {
        font-size: 2em;
    }

    .precipitation, .weathersummary {
        font-size: 1.05em;
    }

    #settingscontent {
        font-size: 1.25em;
    }
}


